Repository NotOnlyStudents/Documentazione, pull requests merged in 2021-02, with the labels that each got.

#88 Feature/rimozione admin
  DocumentiPubblici/AnalisiDeiRequisiti/Immagini/DiagrammiUC/Attori.png
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Attori.tex
Labels: adr, verifica

#90 Feature/funzionalita esclusive
  DocumentiPubblici/AnalisiDeiRequisiti/AnalisiDeiRequisiti_1.0.0.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/10Estensioni.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/1AccessoAllaPiattaforma.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/2Home.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/3RicercaDeiProdotti.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/4PLP.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/5PDP.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/6Carrello.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/7ModificaInfo.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/8DashboardVenditore.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/9InserimentoCampoDati.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Attori.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Comandi.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Funzionali.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Prestazionali.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Qualita.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Vincoli.tex
Labels: adr, documentation, verifica

#144 Feature/verbale 04 02
  DocumentiPubblici/VerbaliEsterni/VE_2021_02_04/Sezioni/Comandi.tex
  DocumentiPubblici/VerbaliEsterni/VE_2021_02_04/Sezioni/Contenuto.tex
  DocumentiPubblici/VerbaliEsterni/VE_2021_02_04/Sezioni/RegistroModifiche.tex
  DocumentiPubblici/VerbaliEsterni/VE_2021_02_04/VE_2021_02_04.tex
Labels: verbale, verifica

#156 Piccole correzioni grammaticali
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/7ModificaInfo.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Attori.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/DescrizioneDelProdotto.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Introduzione.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti.tex
Labels: adr, documentation, verifica

#155 Redatto verbale 06/02
  DocumentiPubblici/VerbaliEsterni/VE_2021_02_06/Sezioni/Comandi.tex
  DocumentiPubblici/VerbaliEsterni/VE_2021_02_06/Sezioni/Contenuto.tex
  DocumentiPubblici/VerbaliEsterni/VE_2021_02_06/Sezioni/RegistroModifiche.tex
  DocumentiPubblici/VerbaliEsterni/VE_2021_02_06/VE_2021_02_06.tex
Labels: verbale, verifica

#152 Feature/PdP
  DocumentiPubblici/PianoDiProgetto/Immagini/FirmaGiulia.jpg
  DocumentiPubblici/PianoDiProgetto/Immagini/Firme/FirmaCristiano.JPG
  DocumentiPubblici/PianoDiProgetto/Immagini/Firme/FirmaDavide.jpg
  DocumentiPubblici/PianoDiProgetto/Immagini/Firme/FirmaFilippo.JPG
  DocumentiPubblici/PianoDiProgetto/Immagini/Firme/FirmaGiulia.jpg
  DocumentiPubblici/PianoDiProgetto/Immagini/Firme/FirmaLeonardo.jpg
  DocumentiPubblici/PianoDiProgetto/Immagini/Firme/FirmaLorenzo.jpg
  DocumentiPubblici/PianoDiProgetto/Immagini/Firme/FirmaMatteo.jpg
  DocumentiPubblici/PianoDiProgetto/Immagini/GanttConsolidamentoRequisiti.png
  DocumentiPubblici/PianoDiProgetto/Immagini/GanttProgettazioneArchitetturale.png
  DocumentiPubblici/PianoDiProgetto/PianoDiProgetto_v1.1.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/AnalisiDeiRischi.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/AttualizzazioneDeiRischi.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Comandi.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Consuntivo.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Introduzione.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/ModelloDiSviluppo.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Organigramma.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Pianificazione.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Preventivo.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/RegistroModifiche.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/AnalisiDeiRischi/Organizzazione.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/AnalisiDeiRischi/Persone.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/AnalisiDeiRischi/Requisiti.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/AnalisiDeiRischi/Strumenti.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/AnalisiDeiRischi/Tecnologie.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/Consuntivo/ConsuntivoAnalisi.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/Consuntivo/ConsuntivoConsolidamentoRequisiti.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/Pianificazione/Analisi.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/Pianificazione/ConsolidamentoRequisiti.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/Pianificazione/ProgettazioneArchitetturale.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/Pianificazione/ProgettazioneDiDettaglioECodifica.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/Pianificazione/ValidazioneECollaudo.tex
  DocumentiPubblici/PianoDiQualifica/PianoDiQualifica_v1.1.tex
Labels: documentation, pdp, verifica

#163 Feature/scenari alternativi
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/GestioneAccount.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Venditore/GestioneAccount.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Venditore/GestioneProdotto.tex
Labels: UC Venditore, Use Case, adr, documentation, enhancement

#160 Aggiunti i casi d'uso di modifica, creazione ed elminazione di una categoria
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/GestioneAccountAcquirente.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Estensioni.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Venditore/GestioneAccountVenditore.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Venditore/GestioneCategorie.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Venditore/GestioneProdotto.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/RegistroModifiche.tex
Labels: UC Venditore, adr, documentation, enhancement

#158 Feature/gestione prodotto in evidenza
  DocumentiPubblici/AnalisiDeiRequisiti/AnalisiDeiRequisiti_1.9.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Venditore/GestioneProdotto.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Comandi.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/RegistroModifiche.tex
Labels: UC Venditore, adr, documentation, enhancement

#169 Stesura verbale 2021_02_09
  DocumentiInterni/VerbaliInterni/VI_2021_01_30/Sezioni/Contenuto.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_09/Sezioni/Comandi.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_09/Sezioni/Contenuto.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_09/Sezioni/RegistroModifiche.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_09/VI_2021_02_09.tex
Labels: verbale, verifica

#172 Redatto verbale 16/02
  DocumentiInterni/VerbaliInterni/VI_2021_02_16/Sezioni/Comandi.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_16/Sezioni/Contenuto.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_16/Sezioni/RegistroModifiche.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_16/VI_2021_02_16.tex
Labels: documentation, verbale, verifica

#176 Redatto verbale 23/02
  DocumentiInterni/VerbaliInterni/VI_2021_02_23/Sezioni/Comandi.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_23/Sezioni/Contenuto.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_23/Sezioni/RegistroModifiche.tex
  DocumentiInterni/VerbaliInterni/VI_2021_02_23/VI_2021_02_23.tex
Labels: documentation, verbale, verifica

#173 Correzioni uc carrello e requisiti
  DocumentiPubblici/AnalisiDeiRequisiti/AnalisiDeiRequisiti_v1.11.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Carrello.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Home.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/PDP.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/PLP.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/RicercaDeiProdotti.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Estensioni.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Venditore/DashboardVenditore.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Comandi.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/RegistroModifiche.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Funzionali.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Qualita.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Vincoli.tex
Labels: documentation, verifica

#175 Feature/update metriche
  DocumentiPubblici/PianoDiProgetto/PianoDiProgetto_v1.3.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Comandi.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Consuntivo.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Preventivo.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/RegistroModifiche.tex
  DocumentiPubblici/PianoDiProgetto/Sezioni/Sottosezioni/Consuntivo/ConsuntivoProgettazioneArchitetturale.tex
  DocumentiPubblici/PianoDiQualifica/Immagini/ACWP_PArchitetturale.png
  DocumentiPubblici/PianoDiQualifica/Immagini/BCWP_PArchitetturale.png
  DocumentiPubblici/PianoDiQualifica/Immagini/BCWS_PArchitetturale.png
  DocumentiPubblici/PianoDiQualifica/Immagini/BV_PArchitetturale.png
  DocumentiPubblici/PianoDiQualifica/Immagini/GulpeaseProgettazioneArchitetturale.PNG
  DocumentiPubblici/PianoDiQualifica/Immagini/Gulpease_v1.0.0.jpg
  DocumentiPubblici/PianoDiQualifica/Immagini/Gulpease_v1.1.PNG
  DocumentiPubblici/PianoDiQualifica/Immagini/SV_PArchitetturale.png
  DocumentiPubblici/PianoDiQualifica/PianoDiQualifica_v1.4.tex
  DocumentiPubblici/PianoDiQualifica/Sezioni/Comandi.tex
  DocumentiPubblici/PianoDiQualifica/Sezioni/RegistroModifiche.tex
  DocumentiPubblici/PianoDiQualifica/Sezioni/Resoconto.tex
Labels: pdp, pdq, verifica

#168 Modifica carta e indirizzo spedizione
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Carrello.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Checkout/Checkout.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Checkout/GestioneCarta.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Checkout/GestioneIndirizzo.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/GestioneAccountAcquirente.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Estensioni.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/RegistroModifiche.tex
Labels: UC Acquirente, Use Case, adr, documentation

#179 Feature/sistemare estensioni
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/AccessoAllaPiattaforma.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/RicercaDeiProdotti.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Estensioni.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/RegistroModifiche.tex
Labels: UC Acquirente, UC Utente non autenticato, Use Case, adr, documentation

#178 Feature/generalita ordinamento
  DocumentiPubblici/AnalisiDeiRequisiti/Immagini/DiagrammiUC/OrdinamentoProdotti.png
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/PLP.tex
Labels: UC Acquirente, UC Utente non autenticato, Use Case, adr, documentation

#186 Feature/sistemare ordini
  DocumentiPubblici/AnalisiDeiRequisiti/AnalisiDeiRequisiti_v1.14.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Ordini.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Estensioni.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Comandi.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/RegistroModifiche.tex
Labels: UC Acquirente, UC Utente non autenticato, Use Case, adr, documentation

#190 Feature/sistemare ricerca
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/RicercaDeiProdotti.tex
Labels: UC Acquirente, UC Utente non autenticato, Use Case, adr, documentation

#185 Sistemato i casi d'uso della home
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Home.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Funzionali.tex
Labels: UC Acquirente, UC Utente non autenticato, Use Case, adr, documentation

#189 Sistemata la PLP
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/PLP.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Funzionali.tex
Labels: UC Acquirente, UC Utente non autenticato, Use Case, adr, documentation

#188 Sistemata la PDP
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/PDP.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Estensioni.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Funzionali.tex
Labels: UC Acquirente, UC Utente non autenticato, Use Case, adr, documentation

#191 Sistemato il carrello
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Carrello.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Venditore/GestioneOrdini.tex
Labels: UC Acquirente, UC Utente non autenticato, Use Case, adr, documentation

#196 Aggiunti i browser più usati
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Introduzione.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/Requisiti/Vincoli.tex
Labels: adr, documentation

#194 Sistemata la gestione delle informazioni dell'acquirente
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/AccessoAllaPiattaforma.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/GestioneAccountAcquirente.tex
Labels: UC Acquirente, Use Case, adr, documentation

#198 Aggiunta la ricerca per codice
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Acquirente/Ordini.tex
  DocumentiPubblici/AnalisiDeiRequisiti/Sezioni/CasiUso/Estensioni.tex
Labels: UC Acquirente, Use Case, adr, documentation
